<!DOCTYPE html>
<html>
<head>
    <title>The Rubber Duckies!</title>
</head>
<body>
    <h1>The Rubber Duckies!</h1>

    <!--a link that looks like a button, linking to the minigames.html page-->
    <div class="choose-games">
        <div id="story-mode-describe">
            <h4>Click to play them all in story mode!</h4>
            <!--another linking to the start of the game-->
            <a href="/start">Start</a>
        </div>
        
        <h3>OR</h3>


        <div id="mini-games-describe">
            <h4>Click to choose a mini-game!</h4>
            <a href="/mini">Mini Games</a>
        </div>
    </div>
</body>
</html> 
﻿